body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: max(env(safe-area-inset-top), 20px) env(safe-area-inset-right)
    max(env(safe-area-inset-bottom), 20px) env(safe-area-inset-left);
  background-color: rgb(240, 240, 240);
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  user-select: none;
}

#home-screen {
  display: flex;
  flex-direction: column;
}

/* @media (max-width: 768px) {
  body {
    height: 100vh;
    overflow: hidden;
  }

  #home-screen {
    height: 100%;
    overflow: hidden;
  }

  #category-container {
    flex-grow: 1;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    padding-top: 100px;
    margin-top: -100px;
    padding-bottom: calc(
      env(safe-area-inset-bottom) + 220px
    );
    scrollbar-width: none;
  }

  #category-container::-webkit-scrollbar {
    display: none;
  }
} */

header {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  padding-top: max(env(safe-area-inset-top), 20px);
  padding-bottom: 10px;
  background-color: rgb(240, 240, 240, 0.97);
}

.game-displays {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom: 15px;
}

.difficulty-selector,
.points-display {
  display: flex;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 5px 10px;
  border-radius: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.difficulty-selector img,
.points-display img {
  width: 30px;
  height: 30px;
}

.difficulty-selector select,
.points-display span {
  font-size: 16px;
  font-weight: bold;
}

#difficulty-dropdown {
  border: none;
  background: transparent;
  font-size: 16px;
  font-weight: bold;
  margin: 5px;
  cursor: pointer;
}

h1 {
  font-size: 22px;
  font-weight: bolder;
  text-align: center;
  margin: 0;
}

h2 {
  font-size: 24px;
  text-align: center;
  margin: 0px;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

#category-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
}

.category-tile {
  background-image: linear-gradient(93deg, #a92ce2, #7b00e0);
  border-radius: 10px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
    rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.category-tile:hover {
  transform: scale(1.05);
  box-shadow: rgb(96, 44, 125, 0.3) 0px 19px 38px,
    rgb(164, 19, 77, 0.3) 0px 15px 12px;
}

.category-cards {
  display: flex;
}

.card-wrapper {
  position: relative;
  margin-right: -25px; /* This creates the overlap effect */
  transition: transform 0.3s ease;
  touch-action: none;
}

.card-wrapper:last-child {
  margin-right: 0; /* Remove margin from the last card to prevent extra space */
}

.card-wrapper img {
  display: block; /* This removes any extra space below the image */
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  pointer-events: none;
}

.card-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(128, 128, 128, 0.82); /* Grey overlay */
  border-radius: 5px; /* Match the border-radius of the image */
  transition: opacity 0.3s ease;
  pointer-events: none; /* This allows clicks to pass through to the image */
}

.won-card .card-overlay {
  opacity: 0;
}

.not-won-card .card-overlay {
  opacity: 1;
}

/* Desktop hover styles */
@media (hover: hover) {
  .card-wrapper:hover {
    transform: translateY(-12px) scale(1.5);
    z-index: 1;
  }

  .card-wrapper:hover .card-overlay {
    opacity: 0;
  }
}

/* Mobile touch styles */
@media (hover: none) {
  .card-wrapper.touch-active {
    transform: translateY(-12px) scale(1.5);
    z-index: 1;
  }

  .card-wrapper.touch-active .card-overlay {
    opacity: 0;
  }
}

.category-title {
  color: white;
  font-size: 18px;
  margin: 10px 0;
}

.play-button {
  background-image: linear-gradient(to right, #2eb22e, #32cd32);
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 16px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.play-button:hover {
  background-color: #28a428;
}
