@keyframes pointsDecrement {
  0% {
    color: inherit;
    transform: scale(1);
  }
  25% {
    color: #cc0000;
    box-shadow: inset 0 0 10px #cc0000;
    transform: scale(0.9);
  }
  50% {
    color: red;
    box-shadow: inset 0 0 10px red;
    transform: scale(0.8);
  }
  75% {
    color: #cc0000;
    box-shadow: inset 0 0 10px #cc0000;
    transform: scale(0.9);
  }
  100% {
    color: inherit;
    transform: scale(1);
  }
}

.points-display.decrement {
  animation: pointsDecrement 0.7s ease-in-out;
}

@keyframes pointsIncrement {
  0% {
    color: inherit;
    transform: scale(1);
  }
  25% {
    color: #0ea51f;
    box-shadow: inset 0 0 10px #0ea51f;
    transform: scale(1.25);
  }
  50% {
    color: rgb(19, 202, 55);
    box-shadow: inset 0 0 10px rgb(19, 202, 55);
    transform: scale(1.5);
  }
  75% {
    color: #0ea51f;
    box-shadow: inset 0 0 10px #0ea51f;
    transform: scale(1.25);
  }
  100% {
    color: inherit;
    transform: scale(1);
  }
}

.points-display.increment,
points-display span.points-display.increment {
  animation: pointsIncrement 0.7s ease-in-out;
}

.out-of-points-message {
  position: absolute;
  text-align: center;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  padding: 15px 30px;
  border-radius: 5px;
  font-size: 18px;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s, visibility 0.3s;
  z-index: 10;
}

.out-of-points-message.show {
  opacity: 0.95;
  visibility: visible;
}
