#plinko-screen {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
}

#plinko-game-container {
  width: 100%;
  max-width: 400px;
  padding: 20px;
}

h2 {
  font-size: 24px;
  text-align: center;
}

#plinko-progress-container {
  display: flex;
  align-items: center;
  width: 100%;
  margin-bottom: 5px;
}

#progress-and-card {
  display: flex;
  align-items: center;
  width: 100%;
}

#progress-bar-container {
  flex-grow: 1;
  height: 35px;
  background-color: #ddd;
  border-radius: 20px;
  overflow: hidden;
  margin-right: 2px;
  box-shadow: rgba(0, 0, 0, 0.39) 0px 3px 8px;
}

#plinko-progress-bar {
  width: 0%;
  height: 100%;
  background-color: #4CAF50;
  transition: width 0.3s ease-in-out;
}

.card-image {
  width: 40px;
  height: 40px;
  object-fit: cover;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.39) 0px 3px 8px;
}

#plinko-board {
  height: 80vh;
  max-height: 600px;
  background-color: #4a90e2;
  border: 10px solid #ffd700;
  border-radius: 10px;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.39) 0px 3px 8px;
}

.peg {
  width: 10px;
  height: 10px;
  background-color: #ffffff;
  border-radius: 50%;
  position: absolute;
  /* transition: transform 0.1s ease-out; */
  transform: translate(-50%, -50%);
}

#ball {
  width: 20px;
  height: 20px;
  background-color: #ff4500;
  border-radius: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  display: none;
}

.slot {
  height: 40px;
  background-color: #32cd32;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  color: white;
}

@keyframes pegPulse {
  0% { transform: translate(-50%, -50%) scale(1); }
  50% { transform: translate(-50%, -50%) scale(1.5); }
  100% { transform: translate(-50%, -50%) scale(1); }
}